**<u>Lab07</u>**

**Challenge 1**

**1.** Retrieve product model descriptions Retrieve the product ID, product name, product model name, and product model summary for each product from the SalesLT.Product table and the SalesLT.vProductModelCatalogDescription view.

In [1]:
SELECT p.ProductID, p.Name AS ProductName, pmcd.Name AS ProductModelName, pmcd.Summary AS ProductModelSummary
FROM Product AS p
JOIN vProductModelCatalogDescription AS pmcd
ON p.ProductModelID = pmcd.ProductModelID
ORDER BY p.ProductID;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'vProductModelCatalogDescription'.

**2**. Create a table of distinct colors Tip: Review the documentation for Variables in Transact-SQL Language Reference. Create a table variable and populate it with a list of distinct colors from the SalesLT.Product table. Then use the table variable to filter a query that returns the product ID, name, and color from the SalesLT.Product table so that only products with a color listed in the table variable are returned.

In [2]:
DECLARE @Colors AS TABLE(Color varchar(15));
INSERT INTO @Colors
SELECT DISTINCT Color FROM Product;

SELECT ProductID, Name AS ProductName, Color
FROM SalesLT.Product
WHERE Color IN (SELECT * FROM @Colors);

**3\.** Retrieve product parent categories The AdventureWorksLT database includes a table-valued function named dbo.ufnGetAllCategories, which returns a table of product categories (for example ‘Road Bikes’) and parent categories (for example ‘Bikes’). Write a query that uses this function to return a list of all products including their parent category and category

In [ ]:
SELECT p.ProductID, p.Name, ac.ParentProductCategoryName, ac.ProductCategoryName
FROM Product AS p
JOIN dbo.ufnGetAllCategories() AS ac
ON p.ProductCategoryID = ac.ProductCategoryID
ORDER BY p.ProductID;

**Challenge 2**

  

**1.** Retrieve sales revenue by customer and contact Retrieve a list of customers in the format Company (Contact Name) together with the total revenue for that customer. Use a derived table or a common table expression to retrieve the details for each sales order, and then query the derived table or CTE to aggregate and group the data.

In [ ]:
WITH SoSummary(ContactName, TotalDue)
AS
(
SELECT CONCAT(c.CompanyName, ' ('+c.FirstName+' '+c.LastName+') '), soh.TotalDue
FROM SalesOrderHeader AS soh
JOIN Customer AS c
ON soh.CustomerID = c.CustomerID
)
SELECT ContactName, SUM(TotalDue) AS TotalRevenue
FROM SoSummary
GROUP BY ContactName
ORDER BY ContactName;