**<u>Lab08</u>**

**Challenge 1**

**1.** Retrieve totals for country/region and state/province 

An existing report uses the following query to return total sales revenue grouped by country/region and state/province. 

You have been asked to modify this query so that the results include a grand total for all sales revenue and a subtotal for each country/region in addition to the state/province subtotals that are already returned.

In [2]:
SELECT a.CountryRegion, a.StateProvince, SUM(soh.TotalDue) AS Revenue
FROM Address AS a
JOIN CustomerAddress AS ca
ON a.AddressID = ca.AddressID 
JOIN Customer AS c 
ON ca.CustomerID = c.CustomerID 
JOIN SalesOrderHeader as soh 
ON c.CustomerID = soh.CustomerID 
GROUP BY a.CountryRegion, a.StateProvince 
ORDER BY a.CountryRegion, a.StateProvince;

CountryRegion,StateProvince,Revenue
United Kingdom,England,572496.5594
United States,California,346517.6072
United States,Colorado,14017.9083
United States,Nevada,7330.8972
United States,New Mexico,15275.1977
United States,Utah,665.4251

In [3]:
SELECT A.CountryRegion, A.StateProvince, SUM(soh.TotalDue) AS Revenue
FROM Address AS A
JOIN CustomerAddress AS CA 
ON A.AddressID = CA.AddressID
JOIN Customer AS C
ON CA.CustomerID = c.CustomerID
JOIN SalesOrderHeader AS SOH 
ON C.CustomerID = SOH.CustomerID
GROUP BY ROLLUP(A.CountryRegion, A.StateProvince)
ORDER BY A.CountryRegion, A.StateProvince;  /*NÃO ENTENDI ROLLUP*/

CountryRegion,StateProvince,Revenue
NULL,NULL,956303.5949
United Kingdom,NULL,572496.5594
United Kingdom,England,572496.5594
United States,NULL,383807.0355
United States,California,346517.6072
United States,Colorado,14017.9083
United States,Nevada,7330.8972
United States,New Mexico,15275.1977
United States,Utah,665.4251

**2\.** Indicate the grouping level in the results . Modify your query to include a column named Level that indicates at which level in the total, country/region, and state/province hierarchy the revenue figure in the row is aggregated. For example, the grand total row should contain the value ‘Total’, the row showing the subtotal for United States should contain the value ‘United States Subtotal’, and the row showing the subtotal for California should contain the value ‘California Subtotal’.

In [4]:
SELECT a.CountryRegion, a.StateProvince, SUM(soh.TotalDue) AS Revenue,  
CASE 
	WHEN GROUPING_ID(a.CountryRegion) = 1 AND GROUPING_ID(a.StateProvince) = 1 THEN 'Total'
	WHEN GROUPING_ID(a.CountryRegion) = 0 AND GROUPING_ID(a.StateProvince) = 1 THEN CONCAT(a.CountryRegion, ' Subtotal')
	WHEN GROUPING_ID(a.CountryRegion) = 0 AND GROUPING_ID(a.StateProvince) = 0 THEN CONCAT(a.StateProvince, ' Subtotal')
END AS Level
FROM Address AS a
JOIN CustomerAddress AS ca 
ON a.AddressID = ca.AddressID
JOIN Customer AS c
ON ca.CustomerID = c.CustomerID
JOIN SalesOrderHeader as soh 
ON c.CustomerID = soh.CustomerID
GROUP BY ROLLUP(a.CountryRegion, a.StateProvince)
ORDER BY a.CountryRegion, a.StateProvince;

CountryRegion,StateProvince,Revenue,Level
NULL,NULL,956303.5949,Total
United Kingdom,NULL,572496.5594,United Kingdom Subtotal
United Kingdom,England,572496.5594,England Subtotal
United States,NULL,383807.0355,United States Subtotal
United States,California,346517.6072,California Subtotal
United States,Colorado,14017.9083,Colorado Subtotal
United States,Nevada,7330.8972,Nevada Subtotal
United States,New Mexico,15275.1977,New Mexico Subtotal
United States,Utah,665.4251,Utah Subtotal

**3.** Add a grouping level for cities Extend your query to include a grouping for individual cities.

In [6]:
SELECT a.CountryRegion, a.StateProvince, a.City, SUM(soh.TotalDue) AS Revenue,  
CASE 
	WHEN GROUPING_ID(a.CountryRegion) = 1 AND GROUPING_ID(a.StateProvince) = 1 AND GROUPING_ID(a.City) = 1 THEN 'Total'
	WHEN GROUPING_ID(a.CountryRegion) = 0 AND GROUPING_ID(a.StateProvince) = 1 AND GROUPING_ID(a.City) = 1 THEN CONCAT(a.CountryRegion, ' Subtotal')
	WHEN GROUPING_ID(a.CountryRegion) = 0 AND GROUPING_ID(a.StateProvince) = 0 AND GROUPING_ID(a.City) = 1 THEN CONCAT(a.StateProvince, ' Subtotal')
	WHEN GROUPING_ID(a.CountryRegion) = 0 AND GROUPING_ID(a.StateProvince) = 0 AND GROUPING_ID(a.City) = 0 THEN CONCAT(a.City, ' Subtotal')
END AS Level
FROM Address AS a
JOIN CustomerAddress AS ca 
ON a.AddressID = ca.AddressID
JOIN Customer AS c 
ON ca.CustomerID = c.CustomerID
JOIN SalesOrderHeader as soh 
ON c.CustomerID = soh.CustomerID
GROUP BY ROLLUP(a.CountryRegion, a.StateProvince, a.City)
ORDER BY a.CountryRegion, a.StateProvince, a.City;

CountryRegion,StateProvince,City,Revenue,Level
NULL,NULL,NULL,956303.5949,Total
United Kingdom,NULL,NULL,572496.5594,United Kingdom Subtotal
United Kingdom,England,NULL,572496.5594,England Subtotal
United Kingdom,England,Abingdon,45.1995,Abingdon Subtotal
United Kingdom,England,Cambridge,2711.4098,Cambridge Subtotal
United Kingdom,England,Gloucestershire,70698.9922,Gloucestershire Subtotal
United Kingdom,England,High Wycombe,608.1766,High Wycombe Subtotal
United Kingdom,England,Liverpool,86222.8072,Liverpool Subtotal
United Kingdom,England,London,206736.1667,London Subtotal
United Kingdom,England,Maidenhead,43.0437,Maidenhead Subtotal
United Kingdom,England,Milton Keynes,41759.6651,Milton Keynes Subtotal
United Kingdom,England,Oxon,1170.5376,Oxon Subtotal
United Kingdom,England,West Sussex,42452.6519,West Sussex Subtotal
United Kingdom,England,Wokingham,87.0851,Wokingham Subtotal
United Kingdom,England,Woolston,119960.8240,Woolston Subtotal
United States,NULL,NULL,383807.0355,United States Subtotal
United States,California,NULL,346517.6072,California Subtotal
United States,California,Alhambra,117.7276,Alhambra Subtotal
United States,California,Auburn,972.7850,Auburn Subtotal
United States,California,Camarillo,2361.6403,Camarillo Subtotal
United States,California,Cerritos,45992.3665,Cerritos Subtotal
United States,California,Culver City,272.6468,Culver City Subtotal
United States,California,Daly City,3293.7761,Daly City Subtotal
United States,California,El Segundo,2669.3183,El Segundo Subtotal
United States,California,Fullerton,81834.9826,Fullerton Subtotal
United States,California,Oxnard,5016.4173,Oxnard Subtotal
United States,California,Santa Ana,3673.3249,Santa Ana Subtotal
United States,California,Sherman Oaks,63686.2708,Sherman Oaks Subtotal
United States,California,Union City,92663.5609,Union City Subtotal
United States,California,Van Nuys,43962.7901,Van Nuys Subtotal
United States,Colorado,NULL,14017.9083,Colorado Subtotal
United States,Colorado,Englewood,14017.9083,Englewood Subtotal
United States,Nevada,NULL,7330.8972,Nevada Subtotal
United States,Nevada,Las Vegas,7330.8972,Las Vegas Subtotal
United States,New Mexico,NULL,15275.1977,New Mexico Subtotal
United States,New Mexico,Santa Fe,15275.1977,Santa Fe Subtotal
United States,Utah,NULL,665.4251,Utah Subtotal
United States,Utah,Sandy,665.4251,Sandy Subtotal

**Challenge 2**

  

**1**. Retrieve customer sales revenue for each parent category Tip: Review the documentation for the PIVOT operator in the FROM clause syntax in the Transact-SQL language reference. Retrieve a list of customer company names tog

In [7]:
SELECT * FROM (
SELECT c.CompanyName, vgac.ParentProductCategoryName, sod.LineTotal
FROM SalesOrderHeader AS soh
JOIN Customer AS c
ON soh.CustomerID = c.CustomerID
JOIN SalesOrderDetail AS sod
ON soh.SalesOrderID = sod.SalesOrderID
JOIN Product AS p
ON sod.ProductID = p.ProductID
JOIN vGetAllCategories AS vgac
ON p.ProductCategoryID = vgac.ProductCategoryID) AS PCN
PIVOT 
(
SUM(LineTotal) 
FOR [ParentProductCategoryName] IN ([Accessories], [Bikes], [Clothing], [Components])
) AS PPCN
ORDER BY CompanyName;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'vGetAllCategories'.