**Perguntas Tipo do Exame de DDM**

**1\. The \_\_\_\_\_\_\_ states that no primary key attribute may be null.**

**A) Referential integrity constraint** 

B) Entity integrity rule

 C) Partial specialization rule

 D) Range domain rule 

**2\. What does the following SQL statement do? UPDATE Product\_T SET Unit\_Price = 775 WHERE Product\_ID = 7**

A) Changes the price of a unit called Product\_T to 7 

B) Changes the unit price of Product 7 to 775

C) Changes the length of the Unit\_Price field to 775

 **D) Updates the Product\_T table to have a unit price of 775**

**3\. Given a table named store with 5 fields: store\_id, address, city, state, zipcode, why would the following insert command not work? INSERT INTO store values (1000,'234 Park Street')**

A) It would work just fine 

**B) You must specify the fields to insert if you are only inserting some of the fields** 

C) There is no table keyword 

D) None of the above

**4\. Which of the following will produce the minimum of all standard prices?**

A) Select standard\_price from Product\_V where Standard\_Price = min; 

**B) Select min(standard\_price) from Product\_V;**

C) Select Standard\_Price from min(Product\_V); 

D) Select min(Standard\_Price) from Product\_V where Standard\_Price = min(Standard\_Price);