1\. Listar os títulos de todos os filmes dirigidos por Steven Spielberg

In [2]:
SELECT titulo
FROM filme 
WHERE realizador = 'Steven Spielberg'

titulo
E.T.
Raiders of the Lost Ark

2\. Listar todos os anos em que foi produzido um filme que recebeu uma classificação de 4 ou 5, e ordene-os por ordem crescente.

In [209]:
SELECT DISTINCT ano 
FROM Filme f
JOIN Classificacao c
ON f.fID = c.fid 
WHERE estrelas IN (4, 5)
ORDER BY ano

ano
1937
1939
1981
2009

3\. Listar os títulos de todos os filmes que não têm nenhuma classificação.

In [7]:
SELECT titulo AS 'Filmes sem classificação'
FROM Filme f
LEFT JOIN Classificacao c
ON f.fID = c.fid 
WHERE estrelas IS NULL

Filmes sem classificação
Star Wars
Titanic

4\. Alguns críticos não inseriram a data correspondente à sua classificação. Listar os nomes de todos os críticos que têm classificações em que a correspondente data é NULL.

In [10]:
SELECT nome AS 'Criticos'
FROM Classificacao c
JOIN Critico cr
ON c.cID = cr.cID
WHERE dataClassificacao IS NULL

Criticos
Daniel Morgado
Maria Cravo

5\. Escrever uma query que apresenta as classificações no seguinte formato: nome do crítico, título do filme, nº de estrelas e data da classificação. Ordene o resultado por esta ordem: nome do crítico, título do filme, nº de estrelas.

In [15]:
SELECT cr.nome, f.titulo, c.estrelas, c.dataClassificacao
FROM Classificacao c
JOIN  filme f 
ON f.fID = c.fID 
JOIN Critico cr 
ON c.cID = cr.cID 
ORDER BY cr.nome, f.titulo, c.estrelas

nome,titulo,estrelas,dataClassificacao
Ana Santos,Avatar,5,2011-01-20
Beatriz Costa,Raiders of the Lost Ark,2,2011-01-30
Beatriz Costa,Raiders of the Lost Ark,4,2011-01-12
Beatriz Costa,The Sound of Music,2,2011-01-20
Carolina Branco,E.T.,3,2011-01-02
Daniel Morgado,Snow White,4,NULL
Isabel Silva,Avatar,3,2011-01-15
Isabel Silva,Snow White,5,2011-01-19
Maria Cravo,E.T.,2,2011-01-22
Maria Cravo,Raiders of the Lost Ark,4,NULL
Maria Cravo,The Sound of Music,3,2011-01-27
Sara Martins,Gone with the Wind,2,2011-01-22
Sara Martins,Gone with the Wind,4,2011-01-27
Tiago Gamboa,Gone with the Wind,3,2011-01-09

6\. Em todos os casos em que o mesmo crítico classificou o mesmo filme mais do que uma vez, sendo uma classificação posterior superior a uma anterior, listar o nome do crítico e o título do filme.

Fizemos subquery na clausula FROM para podermos "criar" uma tabela que cruze a Tabela Classificação com ela propria (Tabela pai C, com a tabela filha C2) e podermos retirar apenas as classificações superiores, e com data mais recente, chamando a esta tabela tabela Maximo, a partir daqui fizemos JOIN com as outras duas tabelas para retirarmos o nome do filme e o nome do critico

In [206]:
SELECT cr.nome, f.titulo
FROM
    (SELECT c.cid,c.fid
    FROM Classificacao C 
    JOIN Classificacao AS C2
    ON c.cID = C2.cID
    AND c.fID = C2.fID
    AND C.estrelas < C2.estrelas
    AND c.dataClassificacao < c2.dataClassificacao
GROUP BY c.cID, c.fID) Maximo
JOIN Critico CR 
ON Maximo.cID = cr.cID
JOIN Filme F 
ON Maximo.fID=f.fID

nome,titulo
Sara Martins,Gone with the Wind

7\. Para cada filme com pelo menos uma classificação, pesquisar a classificação máxima que lhe foi atribuída. Listar o título do filme e a classificação máxima, ordenando por título do filme.

In [210]:
SELECT f.titulo, MAX(estrelas) AS 'Classificação Máxima'
FROM filme f 
JOIN Classificacao c
ON f.fID = c.fID
GROUP BY titulo
ORDER BY titulo

titulo,Classificação Máxima
Avatar,5
E.T.,3
Gone with the Wind,4
Raiders of the Lost Ark,4
Snow White,5
The Sound of Music,3

8\. Para cada filme com pelo menos uma classificação, listar os seus títulos e as médias das classificações por ordem decrescente destas últimas. Listar por ordem alfabética os filmes com as mesmas médias.

In [211]:
SELECT f.titulo, AVG(estrelas) AS 'Média de Classificações'
FROM filme f 
JOIN Classificacao c
ON f.fID = c.fID
GROUP BY titulo 
HAVING EXISTS 
    (SELECT * 
    FROM Classificacao
    WHERE estrelas IS NOT NULL)
ORDER BY 'Média de Classificações' DESC, titulo

titulo,Média de Classificações
Avatar,4
Snow White,4
Gone with the Wind,3
Raiders of the Lost Ark,3
E.T.,2
The Sound of Music,2

9\. Listar os nomes de todos os críticos que contribuíram com 3 ou mais classificações.

In [44]:
SELECT cr.nome
FROM Classificacao c
JOIN Critico cr 
ON c.cID = cr.cID
GROUP BY cr.nome 
HAVING COUNT(c.cID) >=3

nome
Beatriz Costa
Maria Cravo

10\. Adicione à base de dados o crítico Diogo Silva, com um cID=209.

In [48]:
INSERT INTO critico (CID, nome)
VALUES (209, 'Diogo Silva')

11\. Para cada filme, listar o seu título e a diferença entre a classificação mais alta e mais baixa que lhe foram atribuídas. Ordenar por ordem descendente da diferença de classificações e depois pelo título do filme.

In [52]:
SELECT f.titulo, MAX(estrelas) - MIN(estrelas) AS 'Diferença entre Classificações'
FROM filme f 
JOIN Classificacao c 
ON f.fID = c.fID
GROUP BY titulo 
ORDER BY 'Diferença entre Classificações'DESC, titulo

titulo,Diferença entre Classificações
Avatar,2
Gone with the Wind,2
Raiders of the Lost Ark,2
E.T.,1
Snow White,1
The Sound of Music,1

12\. Listar a diferença entre as médias das classificações dos filmes produzidos antes de 1980 e no ano de 1980 e seguintes. Deve ser calculada a média da classificação para cada filme e depois calculada a média das médias para os filmes anteriores a 1980 e os produzidos nos anos de 1980 e seguintes

In [61]:
SELECT (SELECT AVG(estrelas) 
FROM Classificacao C 
JOIN Filme F 
ON f.fid=c.fid 
WHERE YEAR (ano) <1980) - 
ISNull((SELECT AVG(estrelas)
FROM Classificacao C
JOIN Filme F 
ON f.fid=c.fid 
WHERE YEAR (ano) >=1980),0) AS 'Diferença média 1980'

Diferença média 1980
3

13\. Para todos os realizadores de mais de um filme, listar o seu nome e os títulos dos filmes que realizaram, ordenados por nome do realizador, título do filme

In [71]:
SELECT realizador, COUNT (titulo) AS 'Nº de filmes'
FROM filme 
GROUP BY realizador
HAVING COUNT(titulo) > 1

realizador,Nº de filmes
James Cameron,2
Steven Spielberg,2

14\. Listar o(s) título(s) do(s)filme(s) com a maior média de classificações, bem como essa média.

Criamos uma view da tabela Classificação, para obtermos as médias de cada filme.A partir daí usamos a VIEW para selecionar apenas o máximo das médias

In [95]:
CREATE VIEW Médias AS
SELECT f.titulo AS titulo, AVG(c.estrelas) AS media
FROM filme f 
JOIN Classificacao c 
ON f.fid = c.fid 
GROUP BY f.titulo

In [158]:
SELECT titulo, media
FROM médias
WHERE media = (SELECT MAX(media) FROM médias)

titulo,media
Avatar,4
Snow White,4

15\. Para cada par filme, crítico (título do filme e nome do crítico) liste o nº de classificações (um filme pode ser avaliado mais do que uma vez por um crítico, em datas diferentes). Listar também o nº de classificações por filme e por crítico, bem como o nº total de classificações.

In [159]:
SELECT titulo, nome AS Critico, COUNT(estrelas) 'Nº avaliações'
FROM filme f 
JOIN classificacao c 
ON f.fid = c.fid
JOIN Critico cr 
ON c.cid=cr.cid
GROUP BY CUBE (titulo,nome)
ORDER BY titulo, nome

titulo,Critico,Nº avaliações
NULL,NULL,14
NULL,Ana Santos,1
NULL,Beatriz Costa,3
NULL,Carolina Branco,1
NULL,Daniel Morgado,1
NULL,Isabel Silva,2
NULL,Maria Cravo,3
NULL,Sara Martins,2
NULL,Tiago Gamboa,1
Avatar,NULL,2
Avatar,Ana Santos,1
Avatar,Isabel Silva,1
E.T.,NULL,2
E.T.,Carolina Branco,1
E.T.,Maria Cravo,1
Gone with the Wind,NULL,3
Gone with the Wind,Sara Martins,2
Gone with the Wind,Tiago Gamboa,1
Raiders of the Lost Ark,NULL,3
Raiders of the Lost Ark,Beatriz Costa,2
Raiders of the Lost Ark,Maria Cravo,1
Snow White,NULL,2
Snow White,Daniel Morgado,1
Snow White,Isabel Silva,1
The Sound of Music,NULL,2
The Sound of Music,Beatriz Costa,1
The Sound of Music,Maria Cravo,1

16\. Apresente o ranking dos filmes por ordem descendente de média de classificação.

In [73]:
SELECT f.titulo, AVG(estrelas) AS MédiaClassificação,
RANK() OVER(ORDER BY AVG(estrelas) DESC) 'Rank Classificação'
FROM filme f JOIN classificacao c
ON f.fid = c.fid
GROUP BY f.titulo

titulo,MédiaClassificação,Rank Classificação
Avatar,4,1
Snow White,4,1
Gone with the Wind,3,3
Raiders of the Lost Ark,3,3
E.T.,2,5
The Sound of Music,2,5

17\. Para cada realizador, apresente o ranking dos seus filmes por ordem descendente de média de classificação.

In [74]:
SELECT f.realizador, f.titulo, AVG(estrelas) AS MédiaClassificação,
RANK() OVER(PARTITION BY realizador ORDER BY AVG(estrelas) DESC) 'Rank Classificação'
FROM filme f JOIN classificacao c
ON f.fid = c.fid
WHERE realizador IS NOT NULL
GROUP BY f.realizador, f.titulo 
ORDER BY f.realizador, f.titulo

realizador,titulo,MédiaClassificação,Rank Classificação
James Cameron,Avatar,4,1
Robert Wise,The Sound of Music,2,1
Steven Spielberg,E.T.,2,2
Steven Spielberg,Raiders of the Lost Ark,3,1
Victor Fleming,Gone with the Wind,3,1